.posts {
  list-style: none;
  margin: 0;

  .post {
    margin: 1rem 0;

    h2 {
      margin: 0 0 0.25em;
      & + p {
        font-size: 0.75rem;
        margin: 0 0 0.5em;
        font-style: italic;
        color: #666;
      }
    }

    .excerpt {
      font-size: 0.75rem;
      margin: 0;
      line-height: 1.35;
    }

    a {
      background: #eee;
      color: #000;
      display: block;
      padding: 1rem;
      text-decoration: none;
      transition: background 0.15s ease-in;
      &:hover {
        background: #e3e3e3;
      }
    }
  }
}
