$purple: rebeccapurple;
$green: limegreen;
$black: #000;

.header {
  padding: 1rem 0 3rem;
  .title {
    color: $black;
    font-size: 3rem;
    text-decoration: none;
  }
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    .nav-item {
      color: $purple;
      font-size: 0.9rem;
      margin-right: 1.3rem;
      text-decoration: none;
      &:hover {
        color: $green;
      }
      &.active-nav-item {
        font-weight: bold;
        color: $black;
        cursor: default;
      }
    }
  }
}
